header.banner {
  min-width: 100%;
  display: block;
  position: relative;
  padding: 0 0;
  border-top: 0;
  width: auto;
  height: auto;
  background: #3366ff;
  border-bottom: solid 1px #1144dd;
  box-shadow: 0px 2px 1px #888888;
  vertical-align: baseline;
  overflow: hidden;
}

.enzo-logo {
  float: left;
  width: auto;
  height: auto;
  overflow: hidden;
  border-left: 0;
  display: inline-block;
}

.enzo-logo-alt {
  postion: relative;
  float: left;
  margin-left: 0;
}

.nav-primary {
  position: relative;
  float: left;
  width: auto;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  padding: 0 0;
}

.nav-primary ul {
  float: left;
  margin: 0 auto;
  padding: 0 0;
  position: relative;
  background-color: transparent;
  border: 0;
  min-height: 54px;
  vertical-align: baseline;
  list-style-type: none;
}

.nav-primary ul li {
  line-height: 54px;
  text-align: center;
  display: inline-block;
  min-height: 54px;
  margin: 0 auto;
  padding: 0 10px;
  float: left;
  list-style-image: none;
  color: #ffffff;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 auto 4em auto;
  tab-size: 2;
  background: #f1f1f1;
}

.column {
  max-width: 960px;
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 10px;
}

.textcolumn {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 10px;
}

h1 {
  font-size: 46px;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0.1em 0;
}

h2 {
  margin-top: 1em;
  font-size: 32px;
  font-weight: 500;
}

h1, h2 {
  text-rendering: optimizeLegibility;
}

p {
  line-height: 22px;
}

.avatar {
  position: absolute;
  top: 0;
  right: 100%;
  border-radius: 4px;
}

li {
  max-width: 680px;
}

a:link {
  color: #f1f1f1;
  fill: #f1f1f1;
}

a:visited {
  color: #d1d1d1;
  fill: #d1d1d1;
}

textarea {
  font-size: 100%;
}

.date {
  font-size: 11px;
}

#canvas-container {
	border-style: solid;
	border-width: 1px;
	border-color: #f1f1f1;
  border-radius: 10px;
  background: #ffffff;
}
